# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pi-read-meter
pi-read-meter-armv6

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Custom stuff
config.dev.json
tmp/
